body {
  background: rgb(38,35,53);
  color: rgb(113,239,183);
}
#title {
  background: rgb(42,33,57);
  width: fit-content;
  margin: 0 auto;
}

a {
  color: rgb(178,197,200);
}



/*
=============
REACT STYLING
=============
*/
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}